body {
  margin: auto;
  text-align: center;
  background-color: rgb(145, 233, 255);
}

h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Satisfy', cursive;
  color: red;
  margin-top: 40px;
  margin-bottom: 20px;
}

button {
  margin: 0 auto 30px auto;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.game-container {
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 450px;
  height: 450px;
  border: 80px solid rgb(185, 0, 0);
}

.pixel {
  background-color: lightgray;
  aspect-ratio: 1/1;
  flex: 0 0 6.25%;
  margin: 0;
}